h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    text-align: center;
    border-radius: 1.5em;

}

#valor1{
    border-radius: 1.5em;
    height: 3em;
}

#boton {
    border-radius: 2em;
    height: 4em;
    width: 4em;
}

#boton2 {
    border-radius: 2em;
    height: 4em;
    width: 4em;
}

#boton3 {
    border-radius: 2em;
    height: 4em;
    width: 6em;
}

#boton4 {
    border-radius: 2em;
    height: 4em;
    width: 4em;
}

#valor2 {
    border-radius: 1.5em;
    height: 3em;
}

#valortotal{
    border: 2px solid;
    border-radius: 1.5em;
    width: 150px;
    height: 60px;
    background-color: white;
    font-size: 50px;
    text-align: center;
}
